[Unit]
Description=Hourly cron script %i

[Service]
ExecStart=/usr/bin/env /etc/cron.hourly/%i
Type=oneshot
PrivateTmp=true
PrivateNetwork=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=true

[Install]
WantedBy=cron-hourly.target
