[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
StandardOutput=null
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK
SuccessExitStatus=0 2

[Install]
WantedBy=default.target
